.logo
{
    width:50px; 
    height:40px;
}

.textstyle
{
    
   font-style: italic;
}

#mainimg
{   border-radius: 10px;
    width:500px;
    height:600px;
    max-width: 100%;
    height: auto;
}


.social-logo
{
    
    border-radius: 10px;
    width:50px;
    height:70px;
    max-width: 100%;
    height: auto;
   
}
}